* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.spacer {
    border-bottom:2px solid black;
}

#homepage-content h3 {
    padding: 10px;
    border-bottom:1px solid black;
    text-align:center;
    font-size: 5vh;
    background-color: black;
    color: white;
    margin: 10px;
}

.nav-bar h4 {
    display:inline-block;
    background-color: black;
    margin: 18px;
    padding: 10px;
    justify-content: center;
}

.nav-bar a {
    text-decoration:none;
    color:white;
}

.nav-bar h4:hover {
    background-color: grey;
}

#name {
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
    padding: 10px;
}

.hero-content {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
   
    justify-content: center; 
    align-items: center;
}

#hero h2 {
    font-size: 7vw;
    margin-right:10vh ;
}

#hero .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


.hero-content a {
    font-size: 3vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
    text-decoration: none;
    color: black;
}

#centered-column {
    width: 90vw;
    max-width: 500px;
    margin: 48px auto;
    display:flex;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    /* x-offset y-offset blur-radius color */
    box-shadow: -4px 4px 12px black;
    background: linear-gradient(
        -50deg, 
        white, 
        rgb(133, 120, 120),
        white
    );
    display: flex;
    flex-direction:column;
} 


.card h2 {
    font-size: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.card p {
    font-size: 12px;
    flex: 1;
}

.card a {
    text-decoration: none;
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border: 3px solid white;
    transition:
        background-color 0.5s,
        color 0.5s;
}

.card a:hover {
    background-color: transparent;
    color: black;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.nature-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nature-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}

#layout h3 {
    background-color: black;
    color:white;
    padding: 15px;
    margin:50px;
    font-size: 30px;
    border: 3px solid white;
}

.nature-gallery {
    border: 10px solid black;
}