/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-3 {
    max-width: 358px;
    max-height:580px;
    margin:20px;
    border-radius: 18px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction:column;
    border: 15px solid  rgb(243, 201, 12)
}

#pokemon-card-1,
#pokemon-card-2 {
    background: radial-gradient(
        at top left,
       rgb(151, 230, 87),
        green,
        rgb(151, 230, 87)
        

    )
}

#pokemon-card-3 {
    background: radial-gradient(
        at top left,
        rgb(243, 222, 33),
        rgb(255, 72, 0), 
        rgb(243, 222, 33)
    );
}

#pokemon-card-4 {
    background: radial-gradient(
        at top left,
        rgb(33, 243, 198),
        rgb(0, 238, 255), 
        rgb(33, 243, 226)
    );
}


.pokemon-header {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.pokemon-header .health {
   margin-left: 150px;
   font-size: 20px;
   
}

.pokemon-header .name {
    font-size: 25px;
    text-align:left;
    margin-bottom: 0vh;
}

.details {
    font-size: 12px;
    font-style:italic;
    font-weight: bold;
    text-align: center;
    background:  radial-gradient(
        at center,
        #f5de16,
        #aa6915
    );
}

.card-style-3 img {
    border: 5px solid  #c07616;
    margin-bottom: 5px;
    
}

.description {
    padding: 20px;
}


.attack {
    display:flex;
    align-items: center;
    vertical-align: center;
    justify-content:space-between;
}

.health {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}




.data {
    font-size: 10px;
    text-align: left;
    border:  2px solid  #c07616;
    padding: 10px;
}

.power {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
