img.small {
    width:200px;
}

img.stretch {
    width:100%;
}

.outer-container {
    border: 3px solid red;
    width: 66%;
}

.inner-container {
    border: 3px solid blue;
    width: 50%;
}

.inner-container img {
    width: 50%;
    border: 3px solid lightgreen;
    display: block;
}