#style-1-heading {
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

#style-1-block-1 {
    text-align:center;
    font-family:cursive;
    padding: 24px;
    background-color:#4E598C;
}
   
