#style-1-heading {
    text-align:center;
    font-family: cursive
}

#style-1-block-1 {
    text-align:center;
    font-family:cursive;
    padding: 24px;
    color:black;
    background-color:#4E598C;
}
   
#style-1-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: black;
    background-color: #23395B
}

#style-1-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: black;
    background-color: #406E8E
}
#style-1-block-4 {
    text-align: center;
    font-family: cursive;
    color: black;
    padding: 24px;
    background-color: #8ea8c3
}

#style-1-block-5 {
    text-align: center;
    font-family: cursive;
    color:black;
    padding: 24px;
    background-color: #CBF7ED
}


#style-2-heading {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

#style-2-block-1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 24px;
    color:white;
    background-color: #230007
}

#style-2-block-2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    color:white;
    background-color: #D7CF07
}

#style-2-block-3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    color: white;
    background-color: #D98324
}

#style-2-block-4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    color: white;
    background-color: #A40606
}

#style-2-block-5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    color: white;
    background-color: #5A0002
}

#style-3-heading {
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}

#style-3-block-1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
    color:#d007d7;
    background-color: #C0BDA5
}

#style-3-block-2 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
    color:#d007d7;
    background-color: #CC978E
}

#style-3-block-3 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
    color:#d007d7;
    background-color: #F39C6B
}

#style-3-block-4 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
    color:#d007d7;
    background-color: #FF3864
}

#style-3-block-5 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
    color:#d007d7;
    background-color: #261447
}