* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: radial-gradient(
        rgb(226, 168, 226),
        rgb(147, 248, 147)
    );
}

#hero {
    background-image: 
        url("../images/jose-ignacio-pompe-wNg2_99C2ZY-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding-top: 20vh;
}

#hero h3 {
    font-size: 6vw;
    margin-bottom: 70vh;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px;
}

#hero a {
    display: inline-block;
    background-color: pink;
    color: rgb(137, 78, 233);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 2vw 10vh;
    border-radius: 50px;
    border: 5px solid white;
    font-weight: bold;
}

#hero a:hover {
    background-color: rgb(137, 78, 233) ;
    color: pink;
}

.spacer {
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.nature-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nature-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}

#layout h3 {
    background-color: pink;
    padding: 15px;
    margin:50px;
    font-size: 30px;
    border: 3px solid white;
}