* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family:sans-serif;
    background: radial-gradient(at 
        center, 
        purple, 
        rgb(24, 11, 24)
    );

}


#layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "h h h"
        "c1 c2 c3"
}    

#header {
    grid-area: h;
    text-align:center;
}

#column-1 {
    margin-top: 19px;
    padding: 0px 12px;
    grid-area: c1;
    background-color: rgb(180, 144, 180);
    border: 10px solid purple;
    text-align:center;
}

#column-2 {
    margin-top: 19px;
    padding: 0px 12px;
    grid-area: c2;
    background-color:white;
    border-top:10px solid purple;
    border-bottom:10px solid purple;
}

#column-3 {
    margin-top: 19px;
    padding: 0px 12px;
    grid-area: c3;
    background-color: rgb(180, 144, 180);
    border: 10px solid purple;
}

#column-2 a {
    text-decoration:none;
    display:block;
    background-color: rgb(88, 13, 88);
    border: 2px solid white;
    margin:12px;
    padding: 8px;
    border-radius: 24px;
    text-align: center;
    color:white
    
}

#column-2 b {
    font-size:25px
}

#column-3 h3 {
    border-bottom:2px solid;
    color:white
}

#column-3 a {
    text-decoration:none;
    display:block;
    text-align:center;
}

#column-3 div,
#column-3 p {
    margin:12px;
}

#column-p

#header #m {
    color:red;
}

#header #e {
    color:blue;
}

#header #b {
    color:yellow;
}

#header #a {
    color:green;
}

#header #y {
    color:red;
}